
<h1>Welcome to Smart Tax!</h1>
<p>You will be able to complete your tax return process in a simple and easy way on this website.</p>
<h4>Features you can enjoy are...</h4>
<ul>
	<li>Tax Return Preparation</li>
	<li>e-Fling</li>
	<li>Status Tracker</li>
	<li>Chat</li>
	<li>Get Help from Professionals</li>
</ul>
<p>Sing up here!</p>
 