<% if user_signed_in?  %>
<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Welcome back!</h1>
    </div>
</div>
<% else %>
<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Welcome to SmarTax!</h1>
        <p>SmartTax provides you with tools you need in order to complete your client's tax returns in simple steps!</p>
        <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Collaborate</h2>
            <p>No more emails for team collaboration. You can collaborate with your team easily in this website. It catches all the necessary information from your spreadsheet and lets you know all the pending tasks from your end.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Questionnaire</h2>
            <p>You can parse your XML questionnaire for easy review. The questionnaire was not formatted in a way easy for us to review it. The tool will give a different style to it and makes it easy for you to find necessary information and errors quickly.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Auto Tracking</h2>
            <p>As you move from one phase to another, the status gets updates automatically. It will be synchronized to the global website as well. No more hassle for status updates and tracking!</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>
<% end %>